<!DOCTYPE html>
<html>
<head>
  <title>Rails for Rumble preparation course - PIP powered</title>
  <%= stylesheet_link_tag :all, 'bootstrap.min', 'r4r' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="omino_mistico"><%= image_tag 'dexter.jpg' %></div>
<div class="container">
  <% flash.each do |name, msg| -%>
      <% content_tag :div, id: "flash_#{name}", class: "alert-message #{name == :notice ? 'success' : name}" do %>
          <%= msg -%>
          <a class="close" href="#">×</a>
      <% end -%>
  <% end -%>
  <%= yield %>
</div>

</body>
</html>
